{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [],
    "env": {
        "test": {
            "presets": [
                [
                    "env"
                ],
                "react"
            ]
        }
    }
}